body {
    background-color: black;
    color: white;
    font-size: small;
}

.movie-container {
    display: flex;
    align-items: flex-start;
}

.movie-card-img {
    width: 15%;
    margin: 0;
    padding: 0;
}

.movie-card-info {
    text-align: justify;
}