body {
    background-color: black;
}

h3 {
    color: white;
    font-weight: bold;
}

.movies {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.movie1 {
    width: 15%;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.movie2 {
    width: 15%;
    padding: 0;
    margin: 0;
}

.movie3 {
    width: 15%;
    padding: 0;
    margin: 0;
}

.movie4 {
    width: 15%;
    padding: 0;
    margin: 0;
}

.movie5 {
    width: 15%;
    padding: 0;
    margin: 0;
}

.movie6 {
    width: 15%;
    padding: 0;
    margin: 0;
}